<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=-, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>视频征文上传</title>
    <style>
        body {
            width: 900px;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <h1>视频征文上传</h1>
    <div>
        <label for="title">标题</label>
        <input id="title" type="text" style="width: 500px;">
        <button id="sub">提交</button>
    </div>
    <br>
    <div>
        <input type="file" id="file">
    </div>
    <video id="video" autoplay></video>
    <br>
    <script src="./lib/jquery-3.2.1.min.js"></script>
    <script src="./lib/wangEditor.js"></script>
    <script src="./lib/cos-js-sdk-v4.js"></script>
    <script src="./cos-upload.js"></script>
    <script>
        $('#file').on('change', function (e) {
            var file = e.target.files[0];
            cosUpload({
                allowType: '.avi|.wmv|.mpeg|.mp4|.mov|.mkv|.flv|.f4v|.m4v|.rmvb|.rm|.3gp|.dat|.ts|.mts|.vob|.ogg',
                fnSuccess: function (res) {
                    if (res.code === 0) {
                        $('#video').attr('src', res.data.access_url);
                    } else {
                        alert('上传失败');
                    }
                },
            }, file);
        });
    </script>
</body>
</html>