<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>文章编辑页面</title>
</head>
<body>
    <h1>正文投稿</h1>
    <div>
        <label for="title">标题</label>
        <input id="title" type="text">
    </div>
    <p>正文:</p>
    <div id="div3"></div>
    <button id="sub">提交</button>
    <script src="./lib/jquery-3.2.1.min.js"></script>
    <script src="./lib/wangEditor.js"></script>
    <script src="./lib/cos-js-sdk-v4.js"></script>
    <script src="./edit.js"></script>
</body>
</html>