<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>征文大赛</title>
</head>
<body>
    <h1><a href="./article-list.html" target="_blank">征文列表</a></h1>   
    <h1><a href="./edit.html" target="_blank">上传图文类型征文</a></h1>
    <h1><a href="./edit-video.html" target="_blank">上传视频类型征文</a></h1>
    <h1><a href="./edit-audio.html" target="_blank">上传音频类型征文</a></h1>    
</body>
</html>