<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>qq登录测试</title>
</head>
<body>
    <button id="btn">登陆测试</button>
    <script src="./lib/jquery-3.2.1.min.js"></script>
    <script>
        var childWindow;
        var openWindow = function (url, width, height, fn) {
            if (childWindow !== undefined) {
                return;
            }

            var h = typeof window.screenX != "undefined" ? window.screenX : window.screenLeft,
                e = typeof window.screenY != "undefined" ? window.screenY : window.screenTop,
                m = typeof window.outerWidth != "undefined" ? window.outerWidth : document.documentElement.clientWidth,
                j = typeof window.outerHeight != "undefined" ? window.outerHeight : (document.documentElement.clientHeight - 22),
                left = parseInt(h + ((m - width) / 2), 10),
                top = parseInt(e + ((j - height) / 2.5), 10);

            childWindow = window.open(url, '', 'alwaysRaised=yes, left=' + left + ', top=' + top + ', width=' + width + ', height=' + height + ', scrollbars=no, z-look=yes');

            var timer;
            var response = function () {
                window.clearInterval(timer);
                childWindow = undefined;
                fn && fn();
            };
            timer = window.setInterval(function() {
                try {
                    if (childWindow.closed === false) {
                        return;
                    } else {
                        response();
                    }
                } catch (ex) {
                    response();
                }
            }, 500);
        };
        var params = $.param({
            proxy_url: 'http://daringuo.qq.com:8080/view/login.html',
            appid: '',
            target: 'top',
            s_url: location.href,
            style: 20
        });
        openWindow();
    </script>
</body>
</html>