<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>少年中国杯-投稿页</title>
</head>
<body>
    <div id="app"></div>
    <!-- <script src="./dist/vendor.js"></script> -->
    <script src="https://stdl.qq.com/stdl/uther/1.0/uther.min.js"></script>
    <script src="http://stdl.qq.com/stdl/qb/zwds/cos-js-sdk-v4.js"></script>
    <script src="http://stdl.qq.com/stdl/qb/zwds/xss.js"></script>
    <script src="./edit.js"></script>
</body>
</html>