.tech .header {
    position: fixed;
}

.full-page {
    .img-wrapper {
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        &.bg1 {
            background: url('../../static/big_banner1.jpg');
            background-size: cover;
        }
        &.bg2 {
            background: url('../../static/big_banner2.jpg');
            background-size: cover;
        }
        &.bg3 {
            background: url('../../static/big_banner3.jpg');
            background-size: cover;
        }
        &.bg4 {
            background: url('../../static/big_banner4.jpg');
            background-size: cover;
        }
        &.bg5 {
            background: url('../../static/big_banner5.jpg');
            background-size: cover;
        }
        &.bg6 {
            background: url('../../static/big_banner6.jpg');
            background-size: cover;
        }
    }
    img {
        width: 100%;
        height: 100%;
    }
}